<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Password Page</h1>
        <form action="/" method="POST">
            <input type="password" placeholder="*******" id="password" name="password">
            <input type="submit">
        </form>
        <h4>Number of people attempted: <%=people%></h4>

        <% if (outofstock) { %>
            <h2>Someone else hit! Try again next time!</h2>
        <% } else { %>
            <h2>Waiting for someone to cop....</h2>
        <% } %> 

        <h1>You will have to purchase at <a href="https://unknownproxies.com/purchase">https://unknownproxies.com/purchase</a></h1>
    </body>
</html>